[2021-03-31 13:25] artis3n opened #3 "Add support for lastpas"
Would be neat to support passwords and other secrets stored in password managers via this tool, such as https://github.com/lastpass/lastpass-cli .

[2021-03-31 13:35] jondot commented on #3
Good idea. I'm assuming there is some case where development-related secrets are pulled from Lastpass (in the sense that it's used also for development purposes and not just as a personal thing).

I'm going to label it appropriately and we'll built a provider.

Thanks!

[2021-03-31 21:25] artis3n commented on #3
Yeah - for development/local environments where secrets may need to be invoked.

[2021-04-02 00:36] derektamsen opened #4 "Support hashicorp vault database secrets engine"
I think `teller` may be able to help a use case that I have in fetching hashicorp vault dynamic database secrets. The [dynamic database secrets engine](https://www.vaultproject.io/docs/secrets/databases) creates and returns a username and password for databases. This is useful for security reasons but can be cumbersome when using database clients such as `psql` or `mysql`.

I think teller might be

[2021-04-02 06:13] artis3n commented on #4
Dynamic credentials from Vault is what first drew my attention to this repo. Big 👍 on supporting the dynamic database secrets engine responses.

[2021-04-02 07:54] jondot commented on #4
This sounds perfect, @derektamsen go ahead and I will happily accept. Also if there's anything you need help with - feel free to let me know 👍

[2021-04-02 19:41] derektamsen commented on #4
Great! Thanks! I will see what I can do and let you know if I am stuck on something.

[2021-04-06 01:17] derektamsen commented on #4
@jondot I opened #5 to add support for `data{}` and `data.data{}` in the vault provider. It was a bit more complex then I initially thought. The issue was that vault will return a new dynamic user + password for every read request to the dynamic database secrets backend path. As a result my initial example in the issue would result in a mismatched username + password (username1 + password2). Inste

[2021-04-06 01:23] derektamsen opened #6 "Teller run as documented not passing flags to child process"
The `teller run` function [as documented](https://github.com/SpectralOps/teller/blame/master/README.md#L88) does not pass flags to the child process. The following should return help for psql instead of printing help for teller:

[code]

The work around is to use `--` between run and the child process to exec.
[code]

This is expected behavior as referenced in alecthomas/kong#80

[2021-04-06 15:52] jondot commented on #4
@derektamsen that's perfect! thanks for helping out!!
I'll review and merge right now

[2021-04-06 15:54] #4 closed

[2021-04-06 15:55] #6 closed

[2021-04-06 17:21] derektamsen opened #8 "README missing default variable for template"
The `README.md` is missing the [default parameter variable](https://github.com/SpectralOps/teller/blob/56a0b4d9cc1e3338e37d6ef8f5b888a41b3529e5/pkg/core/types.go#L62) for teller templates rendered with `teller template` and `.Teller.EnvByKey`

[code]

[2021-04-06 17:26] jondot commented on #8
Great catch! fixed!

[2021-04-06 17:27] derektamsen commented on #8
Great! Thanks! I was just going to open a PR.

[2021-04-06 17:32] jondot commented on #8
Oh my, I'll try to ask you next time 😄
Thanks for the keen eye!

[2021-04-11 07:40] derektamsen commented on #8
Fixed in https://github.com/SpectralOps/teller/commit/adb7d6794dee2aa599367454d73d20afa4ef0ad3

[2021-04-11 07:40] #8 closed

[2021-04-14 21:28] schiederme commented on #3
Is it possible to integrate the new Lastpass Secret Managment too?

[2021-04-18 10:47] doron-cohen opened #9 "Brew install teller fails"
in https://tlr.dev/#install it says to install teller like `brew install teller` but that fails

[code]

I guess you meant `brew install spectralops/tap/teller` or `brew tap spectralops/tap && brew install teller` like in the readme file.

[2021-04-18 11:18] jondot commented on #9
correct you should `brew tap` before installing, we'll fix on the Website, thanks!

[2021-04-18 11:18] #9 closed

[2021-04-18 11:21] jondot commented on #9
...aaand done on `tlr.dev`. thanks again!

[2021-04-25 17:59] sergeylukin opened #10 "Add support for 1Password vaults"
`tlr` is absolutely amazing!
It would be awesome to be able to use teller with [1Password](https://1password.com/) vaults.
There is 1Password CLI: https://support.1password.com/command-line-getting-started/
WDYT?

[2021-04-26 09:39] jondot commented on #10
sounds good, we're aiming to add the new 1password production offering they announced a couple weeks ago (which makes them into a production vault product too)

[2021-04-26 09:40] jondot commented on #3
@schiederme yes, that is on the roadmap as well

[2021-05-02 20:13] danmx opened #11 "gopass integration"
It would be great if it would integrate with an existing `gopass` store

[2021-05-03 06:32] jondot commented on #11
Thanks, that looks like a good idea + easy because gopass is built in Go already
Adding a label + prioritizing for next version

[2021-05-03 06:46] jondot commented on #11
Adding some references here, for anyone interested:

1. Direct go integration: https://github.com/camptocamp/terraform-provider-pass/blob/49c83e5b924b1bee8569b1f0ce241a335f1a9067/pass/provider.go#L32
2. Via CLI integration: https://github.com/twpayne/chezmoi/blob/master/cmd/gopasstemplatefuncs.go#L54

[2021-05-04 06:55] mpender opened #12 "Azure KeyVault integration"
Could we get azure key vault integration?
https://docs.microsoft.com/en-us/rest/api/keyvault/getsecret/getsecret

[2021-05-04 07:01] jondot commented on #12
It should already exist,
https://github.com/SpectralOps/teller/blob/master/pkg/providers/azure_keyvault.go

Did you find anything missing or a different kind of integration with Azure KV?

[2021-05-04 09:00] mpender commented on #12
no, thats perfect. il try it out. thanks

[2021-05-04 09:00] #12 closed

[2021-05-04 12:06] jondot commented on #12
great. please do let me know how that works for you and if there's anything to improve

[2021-05-04 15:27] advissor opened #13 "Information request : Obfuscation functionality"
Taking a look into docs, there is an secret obfuscation possibility

1) Does it do secret obfuscation based on only known secrets?
2) Can it be used for any data like history, where someone might accidentally paste a password or etc in clear text?
3)  teller --in dirty.csv --out clean.csv
On MacOS

`➜  teller-test teller version
Teller 1.0.0
Revision 684b421ad8f96acb3de9bcb0f75339d5b4912030, date:

[2021-05-04 16:10] camerondavison opened #14 "support mac M1 for brew tap"
Using M1 mac
[code]

[2021-05-04 16:44] jondot commented on #14
I think we're good to go. I basically guessed what needed to be fixed based on your output, made sure all formula end up with a URL on M1. Can you give it a go and see if it works now?

[2021-05-04 16:46] jondot commented on #13
Hi, I think basically it does all that you mentioned.

Just to clarify, when you say "secret obfuscation based on only known secrets" what do you mean? can you give an example?

[2021-05-04 20:29] systemist opened #15 "How would you suggest setting secrets?"
Hi, this looks like an interesting project and our team is investigating whether it's a good fit for our workflow. We're wondering how you would suggest giving developers access to change secrets though, since this tool seems to only read from the secret stores. When using it, do you give developers direct access to the secret store to update values? Thanks!

[2021-05-04 21:05] camerondavison commented on #14
awesome 🎉  thanks for the quick turn around
[code]

[2021-05-04 21:05] #14 closed

[2021-05-05 06:19] jondot commented on #15
Great question @systemist
Currently we are doing two things for security reasons:

1. We don't have an opinion on how to authenticate -- meaning, Teller will not ask you for credentials for your secret stores, but it will basically "assume connected" and federate the authentication to how it currently works on your machine. A good example would be anything based on AWS, where almost every AWS SDK

[2021-05-05 15:32] rcII commented on #15
Thanks @jondot. I'll step in here and add my two cents. The basic use case would be the following:

- Ability to set a secret on multiple providers at once
- Detect "drift" between providers
- Ability to sync secrets between providers when drift occurs, sort of like resolving a merge conflict

[2021-05-05 16:13] systemist commented on #15
And for what it’s worth, our team (including @rcII) would be happy to work on an implementation but
wanted to see if you had any existing designs so we didn’t just create a fork that’s only a good fit for us. Our current workflow is to give all devs access to set configs (including secrets) on Heroku but only have DevOps/SecOps have access to AWS secrets and Vault, but want to unify a single devel

[2021-05-05 16:42] jondot commented on #15
Yea I think actually when you draw out the use case this way it's really exciting! since we automate the source, we don't get drifts much and we were looking on rotation as a use case (update in all providers at once because a key has been exposed/stale).

I love that you call it "drift", makes complete sense.

In terms of implementation -- yea happy to accept any suggestion/PR you might have. Bas

[2021-05-05 17:49] jondot commented on #15
One more idea after we've discussed it internally, is to encode all this in the configuration itself. So basically we want to model:

[ ] handle/id (a secret has a unique handle, although it may appear in multiple stores), the handle is used to do matching between keys/secrets in multiple stores. so basically this means: add one more property to configuration
[ ] again in the configuration, mark u

[2021-05-06 13:50] rcII commented on #15
Thanks for the brainstorming and potential implementation criteria @jondot! The one potentially complicated use case that may become more common than not is when organizations separate out secret and non-secret values into Vault (secret) and Consul (non-secret). In this case, a user would need to be able to set a `source` for two discrete sets of KVs, one secret and one non-secret. However, maybe

[2021-05-06 20:54] rcII commented on #15
Or maybe one source per path...

[2021-05-07 11:12] jondot commented on #15
Got it. Sounds good, in terms of direction -- yea, I feel that Teller controls "values" and "secrets" are just one specific case that has a couple interesting use cases (redaction, scanning) -- by all means it was built to have this dual roles (you can mark KV as "non sensitive" actually).

So here's my initial sketch, which I'm going to try and play with. While sketching it out, we have another u

[2021-05-07 13:05] jondot commented on #15
First results in:

![image](https://user-images.githubusercontent.com/83390/117453731-f3a5bd00-af4d-11eb-8610-1bb0dca6ced3.png)

And then:

![image](https://user-images.githubusercontent.com/83390/117453797-07512380-af4e-11eb-949e-cc875e854fad.png)

[2021-05-07 15:09] rcII commented on #15
Thanks for this @jondot. This initial spike on the drift feature looks promising! Please let us know if you want help on the put/sync features. My Go is rusty, but I could probably jump in given some guidelines! As soon as this is ready, we will try it out in our staging environment.

[2021-05-08 13:07] advissor commented on #13
1) @jondot I mean, that I have an arbitrary and no formatted file. Where for some reason, somebody in output left the secret keys or something like this

Because for you to get  understand that in this random file there is a secret :
- the secret pattern is known
-  either some  regexp / pattern recognition finds it

This is what I mean by the "known" secrets

2) There is still that nasty error wi

[2021-05-09 07:38] jondot commented on #13
For 1 + 2, yes, known only. If you need a solution for unknown secrets, that's what we do at SpectralOps (feel free to shoot me an email dotan@spectralops.io)

for 3 - now I understand, thanks I'll check that out.

[2021-05-09 07:40] jondot commented on #13
For the `--in` parameter -- I just missed `redact`, it should be `teller redact --in ...` (I updated in docs), thanks!

[2021-05-09 14:05] jondot commented on #15
No worries, I think what I'll start doing is the skeleton of the 'write' workflow (data model and refactoring) and then update back here

[2021-05-15 14:54] #13 closed

[2021-05-18 08:04] jondot commented on #15
Hi all, happy to introduce the write/put interface, you can jump to the README updates here to see the addition from a user's point of view.

https://github.com/SpectralOps/teller/blob/ee791c2eeea68c9af5bb0c2b5a857023eaac46f5/README.md#bike-multi-write-rotation--sync

In terms of implementation, everything is in place to easily implement a drift fixing feature -- just waiting for some comments abo

[2021-05-18 15:42] rcII commented on #15
Thanks @jondot, we will do some preliminary testing with Heroku, Vault, and Consul. This looks great!

[2021-05-18 21:34] rcII commented on #15
I was able to set a secret in a single provider (vault)

[code]
But unable to put in multiple providers

[code]
I suspect this is because the path semantics are different between the two providers? Vault follows a true "path" format, while Heroku's "path" is actually the name of the app that is being configured. I may be doing something completely wrong as well.

`.teller.yml` :

[code]
(NOTE: $HE

[2021-05-19 09:20] jondot commented on #15
Yes you are correct, there are two ways to `put`

1. You "work through" the key-value path configuration in your `teller.yml`
2. You supply a path in a "direct mode" where you know there's no configuration defined (kind of like raw setting the value)

And yes in case (2) it makes less sense to set multiple providers, the way I think might be interesting to solve it is perhaps one of two (would be

[2021-05-19 13:38] rcII commented on #15
If I am understanding correctly, a user _can_ put to multiple providers at once, but their `.teller.yml` must be configured? Example real-life use case:
*A developer needs to set a configuration/secret on Heroku and Vault simultaneously to avoid environment disparity.*
Can this be accomplished via CLI flags, or must the `teller.yml` be configured correctly?

[2021-05-19 16:33] jondot commented on #15
Correct. Think of it like the config file containing the coordinates of every secret or value and how it physically maps into the provider. If this information does not exist there eventually we have to somehow provide it (it may include the path but optionally additional bits of information that is provider specific such as encryption in the case of AWS based stores)

[2021-05-21 18:03] rcII commented on #15
Thanks @jondot. From initial testing, the `put` functionality seems to be working as expected. Thanks for implementing this. Once the drift-fixing feature is place, we would like to start testing within our org at a wider scale. Would there be a way to run the `drift-fix` as daemon somewhere? Example use case would be:
- Developer makes a change to Heroku config
- `drift-fix` detects the change an

[2021-05-22 08:33] jondot commented on #15
Great @rcII, yes I believe that's easily done. We can add a `--watch` flag that's commonly done in these kind of tools. I would go ahead and add in some kind of standard logging/eventing subsystem so you could get notified of these, I'll look around to see what isn't so heavy to use, and is pluggable (maybe enough to pick a good logging library that can have some plugins to connect to).

[2021-05-27 14:05] voodooGQ opened #18 "Can't access Vault secrets"
I'll preface this by saying I'm pretty new to Vault in general, and odds are I'm just doing something incorrectly. For some reason Teller is unable to read from my Vault cluster. I've done several different combinations of secret locations to try and get it to read, for example:

- `secret/data/{{stage}}/test/teller`
- `secret/data/{{stage}}/test`
- `secrets/{{stage}}/test/teller`
- `secrets/{{sta

[2021-05-27 15:10] voodooGQ commented on #18
Receive the same error: `Error: data not found at 'secret/data/development/test/teller'`

[2021-05-27 15:33] voodooGQ commented on #18
That did the trick! Thank you! So since I made a separate engine for the secrets as a KV store that negates the need for the `secret/data` directive?

[2021-05-27 15:36] jondot commented on #18
yay!

Yes, its just so that `secrets/` is very popular. So basically it's your `ENGINE/data/path/to/secret` and just remember the final field you get for free (here it's `TELLER_TEST_SECRET` and it will get appended to the path automatically.

[2021-05-27 15:40] voodooGQ commented on #18
Thanks @jondot, may be worth mentioning this in the README in case someone else runs across it. Has fixed my particular issue though so I'm going to go ahead and close this one out. Appreciate all your help!

[2021-05-27 15:40] #18 closed

[2021-05-27 16:33] jondot commented on #18
Yep, just updated the README, thanks for the suggestion!

[2021-05-31 23:09] NikitaGl opened #19 "Question: hashicorp vault auth"
Hi. I've recently discovered your project and fascinated with capabilities it provides. However, there is some things that are not completely clear for me. As you might guessed from a title, I am figuring out how does Teller authenticates against Hashicorp Vault.
Readme says:

Does this mean that Teller inherits all auth methods Vault provides, or it is up to me how to acquire and feed Teller with

[2021-06-01 12:56] jondot commented on #19
Basically what Teller starts with -- is using the recommended way to auth, and not trying to invent a new way. In this case, when we look at the official client for Hashicorp Vault, these are the parameters that participate in authentication [here](https://github.com/hashicorp/vault/blob/api/v1.0.4/api/client.go#L28-L42).

So we call the client default authentication configuration logic, and it pu

[2021-06-01 13:21] NikitaGl commented on #19
Understood. So in case with Vault Teller adopts it's default logic of token authentication. That's a bummer for me :)
Then, I guess I'm going to open  a feature request for supporting AWS auth in Vault, since I'm not a big expert in Go.

[2021-06-01 14:59] jondot commented on #19
Yea, I mean, if it's standard in your eyes -- just try to specify here exactly how you connect. I can take a look and see if it works already with Vault and prepare an implementation.

[2021-06-02 06:35] NikitaGl commented on #19
Understood.
Speaking about Vault cli, authenticating with AWS Auth there happens through passing special commandline flags:
`vault login -method=aws header_value=vault.example.com role=myrole`
Vault Agent uses another approach where you are configuring auto-auth through HCL config.

[2021-06-02 06:56] jondot commented on #19
Got it, so as I analyze this (please correct me if wrong):

1. We know that Vault has many ways to authenticate (AWS, github, etc.), and the end result of that, is a timed token (which you use to access Vault)
2. For convenience and automation, Hashicorp offers Vault Agent, which takes care of renewing and generating tokens for you in a continuous manner

It seems, that these kind of complexities

[2021-06-02 08:11] NikitaGl commented on #19
That is exactly what I am planning to do for now :)
I was hoping to avoid additional steps, especially what involves storing access tokens in a plain file. But I guess there is zero alternative just for now ¯\_(ツ)_/¯

[2021-06-02 08:16] jondot commented on #19
I believe the best way would be somehow to use Vault agent to populate the token as an environment variable, it is odd that Hashicorp didn't provide any such way.

Please let me know how it goes for you meanwhile

[2021-06-02 15:39] vongohren opened #20 "Teller env output multiple formats"
Hi guys! I really like this tool, I just have one concern and that is that it would be great with multiple formats for `teller env`
Some flag to be able to set what shall be outputed.

F.ex, google cloud functions have a way to set envs via file, but they expect a yml file.
You can set via an array, but again, this format only outputs as an .env file.

Has there been any thoughts around this or ex

[2021-06-02 15:57] jondot commented on #20
Awesome,
Right now we export ENV and shell sourcing, but we'll be happy to add this format as well.
What would be a perfect way for you to specify the format in terms of command line ergonomics?

[2021-06-02 20:06] vongohren commented on #20
Great! I would love to help but I'm not proficient in golang. But I got the ideas from doppler https://docs.doppler.com/docs/accessing-secrets#downloading

So maybe a simple format flag after env is enough?

[2021-06-03 06:23] vongohren opened #21 "What is the best way to manage environments?"
I have not found any where I can set environment via cli flag, but I can use seperate files.
How are you using this today?
Or what is your best practise suggstion on this problem?

[2021-06-03 06:30] jondot commented on #21
Hi Snow,
We primarily use 2 methods:

1. A single file, where each environment is a parameter ([https://github.com/SpectralOps/teller#white_check_mark-prompts-and-options](see prompts and options), where you can populate one with an environment variable `env:STAGE` and `STAGE=dev teller ...`
2. Keep a config file per environment, similar to what you would do with `.env` file (`.env.example`, `.env

[2021-06-03 06:32] jondot commented on #20
yep, that looks great. I'll write down a short spec and we will implement it,  thanks for the suggestion!

[2021-06-04 06:15] vongohren commented on #20
Sounds good! Looking forward to the release!

[2021-06-06 11:01] jondot commented on #20
We now should have these formats, from this PR: https://github.com/SpectralOps/teller/pull/22

* env (`teller env`)
* dotenv (`teller env > .env`)
* shell sourcing (`teller sh`)
* YAML, for google and others (`teller yaml`)
* JSON, general purpose (`teller json`)

[2021-06-06 11:11] vongohren commented on #20
@jondot great stuff! Not on the top of my mind no!

[2021-06-06 11:18] jondot commented on #20
Perfect, i'll move forward to cut a version. Thanks for your ideas!

[2021-06-06 13:24] jondot commented on #20
You can now take v1.2.0 for a spin, see if the new formats work for you :)

[2021-06-07 07:44] vongohren commented on #21
@jondot thanks or informing! Yeah it all makes sense!
Would it make sense to add some best practices doc to this repo? I can add it if we agree on something.

Btw, where did you get the nicknam Snow from :P?

[2021-06-07 09:01] jondot commented on #21
Yes, sure it definitely makes sense to add a best-practices section, I would love it.

Found your name on your Github profile README, was simple to find and well made 😄

[2021-06-09 21:22] vongohren commented on #20
@jondot great thanks will check tomorrow!

[2021-06-09 21:38] vongohren commented on #21
Ah, I tried to remember where I had put that nickname :P But that makes sense! Thanks.

Here is also a first PR of best practises: https://github.com/SpectralOps/teller/pull/23

[2021-06-10 15:29] voodooGQ commented on #15
Hey @jondot. Just wanted to let you know we believe we now have a path to success with your additions! We're pretty sure we can get around needing the daemon functionality for the time being but would still be a neat addition to the library. Great work and thank you for all your help with this!

[2021-06-15 13:11] vongohren commented on #20
Sorry, tomorrow became today, but looks good. Closing this now

[2021-06-15 13:11] #20 closed

[2021-06-15 13:11] vongohren commented on #21
Should we close this as we have merged something?

[2021-06-30 09:45] WIZOX opened #24 "Perso Menu"
Add New System Report + Report Management for only Staff  By @WIZOX

[2021-06-30 09:46] WIZOX opened #25 "Perso Menu"
Add New System Report + Report Management for only Staff By @WIZOX

[2021-06-30 09:46] WIZOX opened #26 "Perso Menu"
Add New System Report + Report Management for only Staff By @WIZOX

[2021-06-30 09:51] #24 closed

[2021-06-30 09:51] #25 closed

[2021-06-30 09:52] jondot commented on #26
Hi, not sure what this issue is about, could you elaborate?

[2021-07-06 21:30] arukaen opened #27 "Question: How exactly do I use?"
Hello, I stumbled upon this project while looking for a way to sync my secrets from AWS Secrets Manager to my application server. Originally we are using dotenv (.env) with nodejs to set the secrets for the app. We're looking to move to AWS Secrets Manger to host the secrets and then import them into the application server into a dotenv file. How can I achieve this with teller?

[2021-07-07 12:34] jondot commented on #27
Hi @arukaen, Teller actually make .env redundant, and your environment cleaner (you won't have files with secrets sprawling around). Just configure your secret providers as you wish (in your case Secrets Manager) and then run your server:

[code]

This command fetches the relevant secrets and injects them into `bin/your-server`'s environment, essentially doing what `.env` is doing behind the scene

[2021-07-10 08:03] yeasin123226 opened #28 "Portfolio website"

[2021-07-10 08:03] yeasin123226 commented on #28
I have no comment

[2021-07-11 15:31] #28 closed

[2021-08-11 15:01] vongohren opened #29 "Possibility for defaults and not required in the config file"
# Default value for opts

I use this alot

[code]

But it would be great with a way to say that something was default?

# dotenv not required
I also use this alot
[code]
It would be great to have an option to mark this as not required meaning that it does not crash when there is not file found. Because this particular example is only used for local override of config

[2021-08-19 00:09] infamousjoeg opened #30 "Add CyberArk Conjur Support"
I would like for a provider to be developed to retrieve and add secrets for CyberArk Conjur Secrets Manager.

You can use the open source version here: https://conjur.org
Or learn more about the Enterprise edition here: https://cyberark.com

[2021-08-19 14:46] #30 closed

[2021-08-19 16:46] jondot commented on #29
Hi @vongohren, let's see if I understand it right:

1. Default value for opts. This means in case I'm trying to pull variables from `env` and they don't exist -- use a default value that a user gives?
2. dotenv not required. Got it so in case a file does not exist, the fetched values are simply empty/nonexisting (we could issue a warning just in case)

Does this make sense?

[2021-08-19 17:23] vongohren commented on #29
1. Very correct
2. Yeah a warning can be fine

## Follow up for nr.2
The way I use this is to override a hosted environment with some local values. So I combine this into a better developer experience to be able to adjust how one need to test the infrastructure. By default we run directly to dev env, but using .env default values we showcase how to override. But sometimes you dont want to make tha

[2021-08-22 00:49] infamousjoeg opened #33 "Add "cyberark" and "conjur" as topics associated with this repository"
The repository currently associates with topics reflecting what is support. Given the recent support for CyberArk Conjur, it is requested that the topics are also added onto the repo to reflect the support that was just contributed.

Thanks!

[2021-08-22 07:42] jondot commented on #33
done, thanks!

[2021-08-22 07:42] #33 closed

[2021-09-02 08:33] gedw99 opened #34 "teller new -config usage"
SO you can give it a config, that give it some defaults for the new config it will create ?

[2021-09-03 08:02] Farbriddges opened #35 "ff"

[2021-09-03 08:03] Farbriddges commented on #35
oepss, wrong place I guess

[2021-09-03 08:18] #35 closed

[2021-09-13 17:48] iniinikoski commented on #19
Hi,

I've been also pondering this, the role of Teller and Vault...

Currently I'm considering that with AWS ECS, we'd do Vault Agent directly as a sidecar there - but for local development - we'd use Teller as a "helper tool" - we'd just first authenticate (with OIDC for example) - and continue with Teller from there. Maybe. Need to poke this a bit moer...

[2021-09-15 19:00] einsmaleins opened #37 "Proper Database structure"
-

[2021-09-15 19:00] #37 closed, assigned to nobody

[2021-09-15 19:01] einsmaleins commented on #37
ups wrong github :( my appologies.

[2021-09-22 11:02] rikkeloekke opened #38 "Forkert vægt på varer giver problemer med fragt"
Indenfor ca. en uge har vi modtaget i omegnen af 7-10 pakker retur fra Postnord, der skulle sendes til Brasilien. Grunden til at pakkerne sendes retur er fordi kunden har kunne vælge Postnord varebrev, hvor max vægt er 2 kg., men hvor ordren i virkeligheden vejer langt mere. Synderen er forkert vægtangivelse på LP'er - ofte bokse.

Her er eksempler (hvor jeg dog har været inde og rette vægten):
ht

[2021-09-22 11:05] jondot commented on #38
looks like wrong place :)

[2021-09-22 11:05] #38 closed

[2021-11-12 09:03] lreuven commented on #34
@gedw99 sorry for the late replay, in a high level the answer is Yes,
do you want to share more details  about your use case?

[2021-11-18 12:29] lreuven commented on #27
@arukaen can we close this one?

[2021-11-18 12:29] lreuven commented on #26
Hi @WIZOX,
any suggestion from your side?

[2021-11-18 12:31] lreuven commented on #21
@vongohren sorry for the long delay,
yes & Thanks for contributing.

[2021-11-18 16:42] #21 closed

[2021-11-18 21:05] #27 closed

[2021-11-29 10:19] jgrumboe commented on #19
@NikitaGl
Did you get further with your setup?
Could it look like running the vault agent with AWS auth as a sidecar in ECS and using teller to fetch credentials through vault-agent sidecar? This way you would just need a fake-token for teller against vault-agent and vault-agent would do the AWS auth against real vault server - AFAIK.

[2021-11-29 10:27] NikitaGl commented on #19
A actually ended up authenticating through AWS with Vault Agent Auto-Auth, getting short-living token and using it with secret injection tool. It may seem more janky because I'm placing both binaries in app container image, but it covered all my requests.

I am actually forgot about this thread and since I had received my answers and implemented working solution this topic can be closed.

[2021-11-29 10:27] #19 closed

[2021-12-04 18:01] jkirkpatrick24 opened #42 "Cloudflare worker secrets Write-only Providers support"
Hello 👋 !

I was having a look though the teller roadmap and see that there are plans for adding "write only" provider support. I think this is an excellent Idea and would be something would be really useful. In particular for our team, adding support for [cloudflare workers secrets](https://github.com/cloudflare/cloudflare-go/blob/master/workers_secrets.go) would be extremely useful for our workf

[2021-12-07 11:11] lreuven commented on #42
Hi @jkirkpatrick24,
Great idea! we will be happy to accept your contribution, no work was done for this ER till now.
Let us know if you need any assistance,

Take care

[2021-12-17 18:55] brandonwestcott opened #44 "STDIN Shell Provider"
Just came across this tool, super great. Been in devops for a few years and this definitely solves a need. Love the support for multiple providers within a single invocation.

I'm personally interested in gopass (#11) for some local only api keys. While I fully appreciate first class integration with providers, I'm wondering if #3 #10 #11 (and other future requests) could all be achieved if there

[2021-12-28 22:23] chishaku opened #45 "Add support for Github secrets"

[2021-12-28 22:24] chishaku opened #46 "Add sync support for Google Secret Manager"

[2022-01-09 19:59] jkirkpatrick24 commented on #42
Hi @lreuven, I've done a bit of thinking about the write-only provider support feature that would be necessary for this and would love to get your (and the other maintainers) take on the best approach for how this should work. I've outlined some of my thinking below. Please let me know if this is roughly in line with what the teller team was envisaging of if I've missed the mark here.

Cheers!
# W

[2022-01-09 20:59] jkirkpatrick24 opened #48 "feat: Chaining / Extending / Merging config files"
Hey there 👋

I think it would be really excellent to support extending or merging teller config files. As we've begun to use teller more and more, we've found that often we need to have a teller config file for different environment. This would be similar to how [chamber works with chaining services](https://github.com/segmentio/chamber#exec). The reason for this is sometimes in deployment context

[2022-02-06 18:50] kaplanelad commented on #10
@jondot, 1password provider was added #49.
we can close this issue

[2022-02-06 18:50] kaplanelad commented on #11
@jondot , gopass provider was added #51 .
we can close this issue

[2022-02-14 16:32] lreuven commented on #44
@brandonwestcott Hi 👋
Apologizes for the late replay,
Can you share a bit more about this ER? not sure how teller will fits into this use case.

[2022-02-14 16:41] #26 closed

[2022-02-14 16:49] jondot commented on #42
Hi -- actually write-only providers are possible today without any modification,
The note on the roadmap lists which write-only providers we've had requests for.
The way to implement-write only, is to just implement the relevant `put` methods in the interface
LMK if you need any assistance

[2022-02-15 14:46] brandonwestcott commented on #44
@jondot yes exactly. Quick escape hatch for devs to use other tools that aren't yet supported providers.

[2022-02-17 14:00] pkosiec opened #54 "When doing `Put` for dotenv provider, an error is returned if a target file doesn't exist"
Hi,

Very cool project! I would be interested to use it as Go API for accessing different secret storage backends (Delegated storage feature for https://github.com/capactio/capact open source project), as you prepared great abstractions.

Anyway, while playing around with Teller Go API, I noticed the following behavior for `dotenv` Provider. When doing `Put`, it returns an error when a given file

[2022-02-17 14:03] jondot commented on #54
Hi @pkosiec `capact` look cool!
I think what you're suggesting (upsert semantics) is perfectly fine -- happy to accept your PR

[2022-02-17 14:21] pkosiec commented on #54
Thank you @jondot! I've just created a PR (#55). Please let me know if I should change anything. Cheers!

[2022-02-17 14:36] #54 closed

[2022-02-20 08:23] jondot commented on #34
related to https://github.com/SpectralOps/teller/issues/48 which has a bigger scope
closing this one

[2022-02-20 08:23] #34 closed

[2022-02-20 22:33] gedw99 commented on #48
CueLang is a potential solution to having a config per environment. It will allow reuse of the config between environments.
Cue is very impressive and its main use case is for Configuration management.

It can be transformed into JSON.

From the POV of configuration management its a single sourcing approach. https://en.wikipedia.org/wiki/Single-source_publishing

https://github.com/cue-lang/cue

T

[2022-02-21 20:21] pkosiec opened #57 "Ability to delete secrets"
Hello again,

Teller already supports:
- `Put` (as create+update; both for single and multiple values)
- `Get` (get/list) for the providers
- copying (syncing) all secrets from one provider to another one

Did you also think about supporting `Delete`? It could be a simple `teller delete` command. What I'm thinking is extending the `Provider` interface:

[code]

In a result, Teller would support th

[2022-02-22 12:45] jondot commented on #57
Yes it completely make sense, happy to take a look at the PR

[2022-02-23 08:51] sschneider-ihre-pvs opened #58 "OT: Teller Meaning"
Not to water your wine
This is a 'Teller' in Germany 🍽️
![image](https://user-images.githubusercontent.com/86342787/155287004-fde3f4a1-cab4-4d6b-a5aa-639b646847fe.png)

[2022-02-23 10:40] sschneider-ihre-pvs opened #59 "✨ FR: Multiple projects in one"
Use case, if you have a frontend and a backend project and the frontend one has the backend url/port as env var and the backend has an env var vor its port also both would need a teller file and the teller file needs to be in the project folder.
Instead, an option for having a central teller file for multiple possibly overlapping project that don't have to be checked in at all and can reside in th

[2022-02-23 11:44] jondot commented on #59
Got it.
So to re-iterate, a single config file, that outline multiple projects.
Lets say we have a monorepo:

[code]

And our yaml file will map:

[code]
and somehow, let Teller via CLI pick which project you want.

Is that accurate?

[2022-02-23 11:44] jondot commented on #58
Interesting 😆

[2022-02-23 11:54] sschneider-ihre-pvs commented on #59
yes pretty much, but maybe also that teller looks for a .tellery.yaml in the home folder also if it doesn't find one and the projects need to have some kind of path set to it

[2022-02-23 12:39] jondot commented on #59
And do you foresee some settings/secrets that are common to both backend and frontend as well?

[2022-02-23 13:05] sschneider-ihre-pvs commented on #59
port settings for example. backend running on port and frontend accessing port of said backend

[2022-03-02 08:25] #10 closed

[2022-03-02 15:50] #57 closed

[2022-03-11 04:14] hussainanjar opened #62 "Add support for Azure Vault"

[2022-03-15 14:19] kaplanelad commented on #3
Hey, @artis3n I have implemented LastPass into teller via an HTTP request.
The option to use CLI is going to handle issue #44  for multiple providers

[2022-03-15 17:57] kaplanelad commented on #3
LastPass was added.

[2022-03-15 17:57] #3 closed

[2022-03-16 07:30] jondot opened #64 "build a docs website w/docusaurus"
Time for shaping the content. Build a docs website based on the following TOC:

* Quickstart
* Providers (let's also do something smart. Each provider should also specify declaratively what it supports, so when we run something like "teller providers --info" we get a JSON that we can bake into the docs). In other words - we want the providers to be self-documenting so that:
1. maintainers can cont

[2022-03-16 07:33] jondot opened #65 "Providers should be self documenting: design"
Spec out a design suggestion for self-documenting providers.

Each provider should have a metadata part, where it will declare:

* name (already exists today)
* description
* support matrix (read/write,etc.)
* example usage / use case
* 'more info' (regarding the provider)

Notes:

* Implement this as serializable so it would be easy to dump from a running process
* Developer experience should be

[2022-03-20 06:54] kaplanelad commented on #42
Het @jkirkpatrick24,
Cloudflare worker secrets was added to Teller :)

[2022-03-20 06:54] #42 closed

[2022-03-20 08:12] lreuven opened #67 "Add support for Argo CI/CD"
Retrieve secrets from different vaults/stores and inject them into Kubernete's secrets.

[2022-03-20 09:23] jondot opened #68 "Securely identify person when interactive mode"
In order to protect against unauthorized automation of Teller on a developer machine, we want interactivity to be protected with another layer -- *configurable in teller.yaml*.

Challenges:
* It's recommended to have it by default ON, and only allow to suppress it via configuration (where people can do that in CI environments, where we assume people don't get physical access to). However changing

[2022-03-20 09:28] jondot opened #70 "Attempt moving to Go 1.18 and generify iterators to remove code"

[2022-03-20 09:40] kaplanelad opened #71 "Adding Application Logger"
We need to add an application logger into our code for:

## Why?
1. Better debugging visibility
2. Gives the user more verbosity on the commands
3. Allow to attache log when users open an issue

## How:
Implement logger and cover the essential places with the log message

## Note
We need to keep the STDOUT cleanest like we have today. The log will throw to the screen only in errors or when the use

[2022-03-20 09:44] kaplanelad commented on #45
Hey @chishaku,
I have added GitHub supported in the PR: #69.
Note that GitHub allows only to write secrets and read secretes is not supported.

[2022-03-20 12:13] jondot commented on #71
sounds good
- maybe go to STDERR by default for all non-operational logs?
- also, any log lib you prefer?

[2022-03-20 12:18] jondot commented on #71
testing..

[2022-03-20 18:07] kaplanelad commented on #71
1. sure, this is the idea
2. I have good experience with [logrus](https://github.com/Sirupsen/logrus), very flexible, supports multiple outputs, can extend the logger to multiple entries. Do you have good experience with the different frameworks?

[2022-03-21 09:02] jondot commented on #71
Yep, I use logrus when I need colors & such.
Zap when I only need structured logs

[2022-03-22 12:30] #45 closed

[2022-03-27 06:48] jondot commented on #44
First design:

[code]

1. Interchange format was hard. Eventually, go with the environment format (`k=v`) (and not impose structuring JSONs etc). Specific key just expects value on STDOUT
2. Concluded that there must be an introduction of a new 'meta' key. For CLI provider this will be the command. a meta key is also a gotemplate, and we will provide it with the entry itself for substitution.
3. C

[2022-03-27 08:38] jondot commented on #44
Example case: `gopass`

----
sync:

[code]
_🚨 not good, shows only key list_

some CLI golf we get at:

[code]
_🚨 not there yet, shows a list of values but we lose the key_

----
get:

[code]

_✅ works according to assumption_

----

General challenges:

* Unattended, requires interactive user input of GPG password to unlock the key every X time.

[2022-03-27 09:11] jondot commented on #44
Final design:

* full sync get: end CLI should produce `k=v` mapping, if not existing, the end user should create a shell script/wrapper script to generate it
* `get`: easy to do, as described above
* add a `meta` key to allow for flexible CLI running

Configurable:
* input format (maybe we can allow more than k=v ?), or regex input format

[2022-03-28 09:43] #71 closed

[2022-03-28 21:32] jkirkpatrick24 commented on #42
Amazing! Thanks @kaplanelad

[2022-04-03 07:40] kaplanelad opened #78 "Add Mac keychain provider"
## New Provider Request
Manage secrets from Mac keychain

## Details
- URL: https://support.apple.com/en-il/guide/mac-help/mchlf375f392/mac
- Modes: read+write
- GitHub projects: https://github.com/keybase/go-keychain

[2022-04-03 08:02] kaplanelad opened #79 "Add bitwarden provider"
## New Provider Request
Add [bitwarden](https://bitwarden.com/) provider

## Details
- Name: bitwarden
- URL: https://bitwarden.com/
- Modes: (read/write/read+write)
- GitHub projects:
- API Documentation:  https://bitwarden.com/help/public-api/, https://bitwarden.com/help/api/

[2022-04-03 08:35] kaplanelad opened #80 "Add enpass provider"
## New Provider Request
Add [enpass](https://www.enpass.io/) provider

## Details
- Name: enpass
- URL: https://www.enpass.io/
- Modes: read+write
- GitHub projects: https://github.com/hazcod/enpass-cli

[2022-04-03 08:47] kaplanelad opened #81 "Add KeyPass provider"
## New Provider Request
Add [KeePass](https://keepass.info/) provider

## Details
- Name: KeePass
- URL: https://keepass.info/
- Modes: (read/write/read+write)
- GitHub projects: https://github.com/tobischo/gokeepasslib, https://github.com/tobischo/gokeepasslib/tree/master/examples

[2022-04-04 08:30] #70 closed

[2022-04-04 08:33] jondot commented on #44
For now finalizing the design but parking implementation. This is good in theory but then to provide value end users would need to do too much work (write wrapper scripts, deal with standardizing a certain CLI) and it's better that we build "tailored" providers per tool.

[2022-04-04 08:39] jondot commented on #65
Design:
Each provider implements a standard Meta()

It returns the following schema:

[code]

[2022-04-04 13:36] brandonwestcott commented on #44
@jondot thanks for putting in some mind work toward this.

I definitely agree first class providers are a MUCH better user experience and should be the default answer for tools with any meaningful usage.

I will also note I see value in this feature for complex use cases, such as using `aws-vault` where you are populating secrets from two different roles. In this example, you can't just prefix `te

[2022-04-04 13:57] jondot commented on #44
@brandonwestcott thanks -- feedback like yours really helps prioritizing, actually, we're doing a public steering every second week, hopefully soon we can open it to the public.
I can share that we really went back and forth with this one.
What can help - is that maybe we can ask you a few question about this, specifically:

1. We've identified that some CLI tools need human interaction (enter you

[2022-04-04 15:12] jondot opened #82 "implement provider Meta() + backfill all provider descriptions"
See https://github.com/SpectralOps/teller/issues/65

[2022-04-10 08:54] nazar256 opened #83 "Add docker secret files support"
## New Provider Request

## Details
- Name: secret files
- URL: https://docs.docker.com/engine/swarm/secrets/#how-docker-manages-secrets
- Modes: (read)
- GitHub projects:
- API Documentation: https://docs.docker.com/engine/swarm/secrets/#how-docker-manages-secrets

For security reasons secrets should be mounted as files inside docker container rather than passed as environment variable. However o

[2022-04-12 08:40] TheLastProject opened #85 "Ansible Vault"
## New Provider Request

## Details
- Name: Ansible Vault
- URL: https://docs.ansible.com/ansible/latest/user_guide/vault.html
- Modes: read+write
- GitHub projects: https://github.com/ansible/ansible
- API Documentation: https://docs.ansible.com/ansible/latest/user_guide/vault.html

It would be great if Ansible Vault could be supported. That way it would be easy to re-use Ansible Vault secrets as

[2022-04-12 09:03] jondot commented on #85
Thanks for the request, this is great information for us :)
I've skimmed the ansible vault spec. Looks like we can read the YAML including the format https://docs.ansible.com/ansible/latest/user_guide/vault.html#ansible-vault-payload-format-1-1-1-2 , and continue from there.

Since I'm wondering about where the encryption key is stored and managed, since looks like it's required to decrypt, I'd be

[2022-04-12 09:40] TheLastProject commented on #85
That looks about right. There also seem to be several libraries existing already, but the spec indeed seems simple enough to not require libraries if not desirable.

It indeed is.

Wall of text summarizing my experiences with Ansible Vault incoming :)

### Vault usage patterns

Most commonly people put the Vault decryption password in some file on their system (this is a plain text file containing

[2022-04-12 09:46] jondot commented on #85
This is really really awesome stuff. Appreciate you putting the time because it makes implementation very clear for us. We'll prioritize this one ❤️
If you'd like, I'll be sending someone your email (from your profile) to get some details so we can send you some cool SWAG 🥇

[2022-04-12 11:08] TheLastProject commented on #85
Oh sure, go ahead. And thank you for taking the time to read my wall of text and considering this support :)

[2022-04-12 13:49] TheLastProject opened #86 "Provider authentication configuration"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I'm currently trying to use the Hashicorp Vault provider. This seems to require me to pass it environment variables. Having a tool to manage environment variables securely requiring environment variables seems somewhat counter-intuitive.

Right now, I seem to need to call teller as such to get my Hashicorp Vault

[2022-04-13 09:19] jondot commented on #86
I believe the original idea here was to rely on "what ever people do when they use _vault agent_", and then end users load https://www.vaultproject.io/docs/agent/autoauth/sinks/file to env before running Teller.

Putting that aside, teller can also read that file itself.

Maybe @kaplanelad can also throw in a few more alternatives and then basically we need to choose between:

1. Leave as is, solv

[2022-04-13 09:54] kaplanelad commented on #67
Hey @lreuven,
From what I see, we need to create a argo-cd [plugin](https://github.com/argoproj/argo-cd/blob/master/docs/user-guide/config-management-plugins.md) which triggers Teller to template the chart before the deployment.
It's supposed to behave like [helm-teller](https://github.com/SpectralOps/helm-teller).
To doing that we can't implement into Teller itself, we need to create a new projec

[2022-04-13 10:25] lreuven commented on #67
@kaplanelad sure sounds good,
@mostafahussein also wanted to take a stab on this one,
@mostafahussein let us know if you can help.

[2022-04-13 10:30] mostafahussein commented on #67
Hello @lreuven and @kaplanelad ,
Yesterday I have read about ArgoCD vault plugin as @lreuven recommended, So i saw a video about it and checked few articles and i reached to the same conclusion as @kaplanelad said, it should not be within teller itself. but i was not sure if that's what you actually wanted to do "a separate repo".

[2022-04-13 10:36] kaplanelad commented on #67
Like helm-teller project, we can wrap Teller and use templating option for pre-exec command.
Option 1:
Render the Helm chart and forward the templated chart to argo-cd.
Option 2:
Create a webhook admission controller and  templating directly in Kubernetes cluster

[2022-04-13 11:39] mostafahussein commented on #67
The first option might look faster to implement however i see that the second option might guarantee wider support, so for example if you don't use helm (maybe you have different way to manage your k8s manifests or just the default k8s manifests) but you use argoCD you can still benefit from having teller with argo meaning that you are not limited to helm only.
WDYT?

[2022-04-13 16:13] patrickc-sb opened #87 "Error: provider 'gopass' does not exist%"
## Expected Behavior
Accessing secrets stored in gopass password-store

## Current Behavior
.teller.yaml provider configuration for gopass always throws:
`Error: provider 'gopass' does not exist%`

Provider config for gopass:
[code]

Gopass is also installed and working on my MacBook.

I'm not sure what I'm missing here. I'd be thankful for any pointers.

Thanks in advance!

## Steps to Reproduce

[2022-04-13 17:33] kaplanelad commented on #87
Hey @patrickc-sb, thanks for submitting this issue.
The `gopass` provider is not released under 1.4.0 Teller version. we will release a new Teller version with `gopass` provider and let you know soon.
@jondot, for releasing a new version we need to add a `GORELEASER_GITHUB_TOKEN`, can you please assist?

[2022-04-13 17:46] kaplanelad commented on #86
Maybe we need to manage the provider authentication by config "strong" levels (for example, AWS CLI)
For example:
Level 1:
as we have today, keep the environment variable
Level 2:
override level `authentication` if specified in the provider (Like @TheLastProject  example)
Level 3:
if there is a config file in agreed path like ~/.teller/{provider-name}

level 2+3 is for advanced and allows also to

[2022-04-13 17:50] kaplanelad commented on #67
I tend to agree @mostafahussein. I think the second option is more flexible and fits all use-cases.
I'll add it to our roadmap.

I'll keep this issue open for reference and updates.

[2022-04-13 18:09] mostafahussein commented on #67
Great! How will we proceed with this? I mean what are the next steps so we can work on this feature?

[2022-04-13 18:23] patrickc-sb commented on #87
Hey @kaplanelad,

thanks for your quick response! Perfect, I was a little confused and didn't know if I was forgetting something. Great, that's all I need to know. Then I'll wait until the new version is released.

Thanks so much!

[2022-04-14 11:36] kaplanelad commented on #87
Hey @patrickc-sb,
a new version was released 1.5.0, please upgrade and gopass provider will be ready to use

[2022-04-14 11:39] patrickc-sb commented on #87
Oh man, that was fast! Awesome!
I'll check it out, thanks so much!

[2022-04-14 11:41] #87 closed

[2022-04-16 09:52] ChengaDev opened #91 "Inspecting specific variables"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Today when inspecting variables using the `show` command, it outputs all the entries from all the providers.
There is no way to inspect/focus a single provider or a single entry.

![image](https://user-images.githubusercontent.com/44297242/163704801-18106b04-722e-41c2-9d46-20075f801843.png)

**I'd suggest to:**

[2022-04-16 15:12] brandonwestcott commented on #44
Thanks for the insight @jondot. I will say, I see this as a "power user" type feature, and deserves to be prioritized lower than core features / additional providers. That being said, I would love to have it 😄

1) I think the majority of the cases I'm seeing would include human interaction (master password / Touch ID). I understand programs that expect stdin input for that would be tricky, but oth

[2022-04-17 21:49] mostafahussein commented on #67
I have started to work on a poc for this, its not ready yet :D I am working on a mutation service that act whenever we have a secret going to be added and modify it by injecting any random string/base64 just to test the theory before involving teller.
also i tried to follow some of your existing flow for example the directory structure when needed (e.g. pkg, cmd) also using [kong](https://github.c

[2022-04-18 06:19] kaplanelad commented on #67
Awesome @mostafahussein, I can't wait to see it!
It would be great if you could share:
1. Implementation design
2. POC goals

we also need to think about easy cluster deployment and error handling, which not fail any cluster deployments

I'll be more then happy to join  :)

[2022-04-18 11:09] eladbash opened #95 "Linode provider"
## New Provider Request

## Details
- Name: Linode
- URL: https://www.linode.com/
- Modes: read
- GitHub projects:
- API Documentation: https://github.com/linode/linodego

[2022-04-22 09:41] mostafahussein commented on #67
@lreuven , @kaplanelad i have sent you an invitation for a repository that I have created so you can have more overview about the implementation.

[2022-04-22 09:51] mostafahussein commented on #67
Do you a have a slack channel or something similar for further discussion about the implementation?

[2022-04-22 18:23] mostafahussein commented on #67
Can you create a team under spectralOps organization for the open source contributors with limited access? i think in this case we can use the "Team discussions" feature within Github itself

[2022-04-29 09:23] svg153 commented on #62
I am interested in this provider.

Missing `new-provider` label and [project](https://github.com/orgs/SpectralOps/projects/1/views/1) probably?. I think you are using this to organize work.

Thanks :)

[2022-04-29 09:32] lreuven commented on #62
@svg153   Will handle it soon :)

[2022-05-08 06:55] kaplanelad commented on #83
Hey @nazar256,
Thanks for the idea and the PR!
Before you make my comments in your PR, please check if the `filesystem` plugin can solve your issue: https://github.com/SpectralOps/teller#filesystem?

[2022-05-08 07:02] kaplanelad commented on #15
I'm closing this issue. You are more than welcome to open new issues with new thoughts for future discussions :).

[2022-05-08 07:02] #15 closed

[2022-05-08 07:04] #58 closed

[2022-05-08 07:06] kaplanelad commented on #67
Hey @mostafahussein @lreuven - we will take it to another project which extends teller to admission controller.

[2022-05-08 07:06] #67 closed

[2022-05-08 07:07] kaplanelad commented on #81
Keypass provider was added

[2022-05-08 07:07] #81 closed

[2022-05-08 10:29] kaplanelad commented on #62
Hey @hussainanjar @svg153,
I'll add more documentation to readme.md file soon, but in the meantime, you can do the following steps:

1. Run `teller new ` and select `Azure Key Vault` from Teller wizard
2. Provider authentication: Implement Azure client and use from environment variables in the order:
// 1. Client credentials
// 2. Client certificate
// 3. Username password
// 4. MSI

Then you need

[2022-05-12 19:05] jondot opened #108 "Teller as a library: first-class citizen"
Make teller a first class library in Go,
to be used from any service or process without a need to go through ENV injection.

As well as compile as a clib, to be wrapped for other platforms:
- node
- ruby
- rust
- python (optional)
FFI should be minimal and based on a serialization protocol rather than a strict one for ease of maintenance and compatibility.

[2022-05-15 16:39] nazar256 commented on #83
Yes, it does solve my problem. Thank you! I'm closing my PR as `filesystem` sounds better for what plugin does (more general).

[2022-05-15 16:39] #83 closed

[2022-05-16 11:54] kaplanelad commented on #29
Hey @vongohren,
You can now set default values to `opts` section by adding comma after the env field
For example:
[code]
Thanks for the good idea

[2022-05-16 11:54] #29 closed

[2022-05-16 11:55] kaplanelad commented on #62
Azure provider now support read / write.

[2022-05-16 11:55] #62 closed

[2022-05-26 05:38] npalladium commented on #44
Love the tool! This solves a pain point that I've been patching with shell scripts. Kudos and thanks for the amazing work.

To add one more data point, I would definitely use this feature and build scripts around it if needed (maybe using `expect`).

[2022-05-26 20:36] Vad1mo commented on #79
This would be outstanding to use in combination with https://github.com/dani-garcia/vaultwarden

[2022-05-30 09:25] vongohren commented on #29
@kaplanelad great! Did recongnize this with an emojie earlier, but now I have a question.

This is not released for 1.5.0 right?
Do you guys have any documentation on how to build and run the lastest version from github?
Or when is this release planned :)?

[2022-06-02 19:09] kaplanelad commented on #46
released in version 1.5.1

[2022-06-02 19:09] #46 closed

[2022-06-02 19:10] kaplanelad commented on #29
Hey @vongohren,
This feature just released now. you can update to version 1.5.1.

[2022-06-10 18:48] oxrishang opened #113 "could not load all variables from the given existing providers"
## Expected Behavior
Load numbers too in env as string value

## Current Behavior
getting error: FATA[0000] could not load all variables from the given existing providers  error="json: cannot unmarshal number into Go value of type string"

## Possible Solution
If we can convert number into string it will be good so load number base secret values

## Steps to Reproduce

1. Get teller v1.5.1
2. Crea

[2022-06-12 06:06] kaplanelad commented on #113
Hey @oxrishang,
Thanks for reported us this issue, we will check this issue

[2022-06-21 06:50] kaplanelad commented on #113
@oxrishang, version 1.5.2 includes the bug fix that you reported.

[2022-06-21 06:50] #113 closed

[2022-06-26 13:40] 2dev2 opened #115 "Not Able to consume data from hashicorp vault version kv engine"
## Expected Behavior
We have got the secret data from hashicorp vault HTTP API through postman, teller also should be able to consume the same data.

## Current Behavior
For same data, its not able to consume the data and giving panic: runtime error: invalid memory address or nil pointer dereference

## Possible Solution
We need to somehow pass some key from config which field we want to decode fr

[2022-06-27 11:57] kaplanelad commented on #115
Hey @2dev2 thanks for reporting this issue, i'll check it

[2022-07-02 04:23] 2dev2 commented on #115
Do i am missing something, please correct me if its not bug.

[2022-07-09 02:47] kevbook opened #116 "Provider request - parent_process_env"
## New Provider Request

Instead of `carry_env` option, we should have a `parent_process_env` provider. So we can selectively load up parent process env vars as needed. It would also allow renaming the field/variable as needed.

It's very useful if we need to run a docker container:

[code]

[code]

## Details
- Name: parent_process_env
- Modes: read

[2022-07-11 17:32] kevbook opened #117 "Support AWS SecretsManager versioning"
## Feature Request

**Describe the solution you'd like**
In AWS SecretsManager, there is a concept of versioning. It's supported by Go SDK as well.

AWS container orchestration with ECS fargate, we are using versioning, so Teller will be in-sync.  https://docs.aws.amazon.com/AmazonECS/latest/userguide/specifying-sensitive-data-secrets.html

[code]

Example:

[code]

[2022-07-15 15:55] kevbook opened #118 "A way to resolve values for a similarly named entry from more than 1 provider"
## Feature Request
A way to resolve values for a similarly named entry from more than 1 provider

[2022-07-16 04:43] cnygardtw opened #119 "filter teller-specific output by default"
## Feature Request

The logging of teller-specific output interferes when you are trying to capture the output if the command being run.  Example, I can't pass the output to `jq` because of the teller output:

[code]

I'd like to be able to control the output of this logging via the `--log-level` parameter.  Logging of this sort could be info level so setting to warn or error would prevent the out

[2022-07-17 08:19] kaplanelad commented on #115
Hey @2dev2, thanks for reporting this issue. i found a bug where we return secret and fixed it in pr #120
But didn't succeed in reproducing your case. I suspect the path you added in `.teller.yaml` is incorrect.
see my following steps to check your issue (you can check is as well on clean vault)

### Run Vault locally
[code]

### Create a secret json file
[code]

### Put secret:
[code]

### .telle

[2022-07-17 08:32] kaplanelad commented on #116
Hey @kevbook, just to make sure that i understand your case,
Your suggestion is allow Teller to read parent environment variable like this example:

[code]
and the `.teller.yaml` file config will look like:
[code]

[2022-07-17 08:32] kaplanelad commented on #118
Hey @kevbook can you please elaborate this case?
Example usecase will be perfect

[2022-07-17 08:36] kaplanelad commented on #119
Hey @cnygardtw,
you can use `json` instead of `show` subcommand for this usecase.
the command `teller json | jq .` should work like you describe.

[2022-07-17 09:20] #78 closed

[2022-07-17 09:23] kaplanelad commented on #91
@ChengaDev this issue still relevant?
can we close it?

[2022-07-17 12:06] kaplanelad commented on #117
Hey @kevbook, sound a good feature.
Added this support in open PR: #121

[2022-07-17 20:01] look4regev opened #122 "Wrong documentation for .env code sample on the tlr.dev"
In https://tlr.dev/ under the `.env` code sample, it should be `dotenv` instead of `aws_secretsmanager`:
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/4006829/179422800-93c7a8a8-c689-42dc-8051-30a9d59ff99c.png">
The source code for tlr.dev is closed right? Consider publishing it so this could have been a quick PR instead of an issue :)

[2022-07-18 06:48] kaplanelad commented on #122
Hey @look4regev,
Yes, the source code of tlr.dev is closed for now, we are working on a new website and planning move it to the public.
We will fix the documentation. Thanks

[2022-07-18 13:54] cnygardtw commented on #119
That formats the secrets.  I'm interested in capturing the output of a command like `teller run -- command.sh | jq .`

[2022-07-18 13:57] kevbook commented on #118
Absolutely. A common use case:
1. Our dev creds for service X lives on AWS secrets manager
2. As engineers are working locally, they tend to override certain env vars

[code]

A key can be in 2 vaults, there is no way to set precedence when using `teller show|sh|json|yaml`

[2022-07-18 14:00] kevbook commented on #116
@kaplanelad Yes.

ps. We should also get rid of the `carry_env` option, seems very opinioned on how it handles `$HOME`, and exposes the entire set of keys from the parent.

[2022-07-18 14:05] kevbook commented on #119
You would use jq filter. Eg. `| with_entries( select(.value | has("stop_time_utc") ) )`

[2022-07-19 12:14] Rishang opened #123 "Retrive New Secrets on secret rotation"
## A background task to fetch new secrets on a certain shudle

from teller we can retrive secrets and run in applications fetching those secrets via variables, but when my secrets change teller itself dosen't load my new secrets, so can there be a way to do'so

Currently I am exiting applications via health checks, which exits

[2022-07-19 12:40] kaplanelad commented on #122
@look4regev, I'm closing this issue, and during it is not related to this repo. we will fix it on the new Teller website

Thanks for letting us know

[2022-07-19 12:40] #122 closed

[2022-07-20 12:07] ChengaDev opened #125 "Export providers meta to JSON"
## Feature Request
The first step in order to create auto-generated docs for all the providers is to add a new command to teller that allows exporting all the providers' meta to a local JSON file.

**Is your feature request related to a problem? Please describe.**
Yes, every new provider added, requires its developer to manually update the docs as well.
Teller docs better have a defined format for

[2022-07-20 17:18] kaplanelad commented on #119
@cnygardtw, the fix just released in version v1.5.3
Let me know if it works for you

[2022-07-20 17:20] kaplanelad commented on #117
@kevbook  the fix just released in version v1.5.3
To fetch a spisific version your need to add a comma separating in path value (`path: prod/foo/bar,<VERSION>`).

[2022-07-20 17:20] #117 closed

[2022-07-20 17:22] kaplanelad commented on #115
@2dev2, the panic releasee in v1.5.3.

[2022-07-25 08:39] #119 closed

[2022-07-26 10:49] kaplanelad commented on #116
@kevbook
We discussed on your feature internally, and it looks like a great idea.
Do you want to create a pull request with the new provider? I can assist you if you need to

[2022-07-27 09:53] marcofranssen opened #126 "MacOS Keychain"
## New Provider Request

## Details
- Name: MacOS Keychain
- URL: https://support.apple.com/en-au/guide/keychain-access/welcome/mac
- Modes: read+write
- GitHub projects: N.A.
- API Documentation: https://developer.apple.com/documentation/security/keychain_services

An example of a project that does have keychain integration is https://github.com/99designs/aws-vault

You can find their keychain im

[2022-07-27 09:56] marcofranssen opened #127 "Pass Provider"
## New Provider Request

## Details
- Name: Pass
- URL: https://www.passwordstore.org/
- Modes: read+write
- GitHub projects: N.A.
- API Documentation: https://www.passwordstore.org/

An example of a project that does have Pass integration is https://github.com/99designs/aws-vault

You can find their Pass implementation here.

https://github.com/99designs/keyring

[2022-07-27 09:58] marcofranssen opened #128 "Windows Credentials Manager Provider"
## New Provider Request

## Details
- Name: Windows Credentials Manager
- URL: https://support.microsoft.com/en-au/help/4026814/windows-accessing-credential-manager
- Modes: read+write
- GitHub projects: N.A.
- API Documentation: https://support.microsoft.com/en-au/help/4026814/windows-accessing-credential-manager

An example of a project that does have `Windows Credentials Manager` integration is

[2022-07-28 07:09] kaplanelad commented on #128
Hey @marcofranssen this for provider suggestion
Do you want to create a pull request with the new provider? I can assist you if you need to

[2022-07-28 07:09] kaplanelad commented on #127
Hey @marcofranssen this for provider suggestion
Do you want to create a pull request with the new provider? I can assist you if you need to

[2022-07-28 07:11] kaplanelad commented on #126
Hey @marcofranssen,
We have MacOS provider in our roadmap see my closed [pr](https://github.com/tellerops/teller/pull/112).
I'll open this PR again and make it work

[2022-07-28 10:56] marcofranssen commented on #128
I don't have a Windows machine, but I figured if we want to adopt this tool in our team this would probably be required for some folks.

[2022-07-28 10:58] marcofranssen commented on #127
If no one else picks it up, over time if I find some spare moments I can try to give it a shot.

[2022-07-28 15:00] kevbook commented on #116
Absolutely, I’ll take a stab this weekend. What do you want to call it, I’m open to whatever you suggest

[2022-07-28 17:27] kaplanelad commented on #116
Amazing, you can take a look k in this [doc](https://github.com/tellerops/teller/blob/master/doc/new-provider.md), which Champlain how to add a new provider.
I'm available for open questions that you have and also in slack (I'll give you the name later).

I think `proccess_env` is good.

[2022-07-29 17:23] cnygardtw commented on #119
Works for me, thanks friends!

[2022-08-03 05:43] kaplanelad commented on #127
Cool, so the first volunteer will write a message here to prevent duplicate work.

[2022-08-03 05:43] kaplanelad commented on #118
@kevbook, any thoughts about my previous message?

[2022-08-03 06:10] #115 closed

[2022-08-10 11:23] Jagostini opened #130 "Provider Request - Passbolt"
## New Provider Request

## Details
- Name: passbolt
- URL: https://www.passbolt.com/
- Modes: (read/write/read+write)
- GitHub projects: https://github.com/passbolt/passbolt_api
- API Documentation: https://help.passbolt.com/api

[2022-08-14 13:08] kpetremann opened #131 "Shell export not working when password has special characters"
## Expected Behavior
The password when executing `teller sh` should be enclosed in quote to avoid interpreting special characters such as parentheses.

## Current Behavior
Currently passwords are not escaped, resulting in the following error:
```bash: syntax error near unexpected token '('```

## Possible Solution
Enclose password with quote and substitute single quote already in the variable
`str

[2022-08-14 13:12] kaplanelad commented on #130
Hey @Jagostini
we're accepting PRs,
Do you want to implement this provider? I can assist you if you need to

[2022-08-14 13:13] kaplanelad commented on #131
Hey @kpetreman, thanks for reporting this issue.
Do you want to open a pull request with your fix? We're accepting PRs

[2022-08-14 13:29] kpetremann commented on #131
sure, I'll add it and then send the PR!

[2022-08-16 09:41] kpetremann commented on #131
@kaplanelad I added the e2e test in the PR #132, don't hesitate if it needs adjustments

[2022-08-25 17:32] kpetremann commented on #131
closing the issue as the PR has been merged and released.

Thanks for having merge the PR :)

[2022-08-25 17:32] #131 closed

[2022-09-02 15:04] spg opened #133 "AWS Secrets Manager: error invalid character 'a' looking for beginning of value"
## Expected Behavior
When I run `tlr show`, my secret from AWS Secrets Manager should be displayed

## Current Behavior
Error is raised:

[code]

## Possible Solution
N/A

## Steps to Reproduce

1. Create config file:

[code]

2. run the command shown previously

## Context
I triple-checked that
* my AWS credentials are OK
* the secret exists in the specified AWS region and account (see screenshot

[2022-09-04 08:53] kaplanelad commented on #116
@kevbook the provider release in version 1.5.5.
thanks for your contribution

[2022-09-04 08:53] #116 closed

[2022-09-11 10:48] kaplanelad commented on #133
Hey @spg, thanks for reporting this issue
You can please provide:
1. it is happening on all the secret name paths? or only on a specific one
2. Can you please run with `--log-level` to provide us with more details (which function, which key, etc.)
Thanks

[2022-09-11 13:25] #125 closed

[2022-09-16 20:25] JacobJohansen opened #134 "localstack compatibility for aws providers"
## Feature Request
Allow teller to be pointed at localstack for aws_secretsmanager and aws_ssm providers

**Is your feature request related to a problem? Please describe.**

provide a method to override the default aws endpoint to allow local developers to use the same process as our deployments

**Describe the solution you'd like**

use the AWS_ENDPOINT environment variable to allow for a custom

[2022-09-17 00:49] ceekay47 commented on #127
Hi @kaplanelad, I would like to work on this. Can you please assign this to me and help me get started? Thanks!

[2022-09-17 17:26] kaplanelad commented on #127
Hey @marcofranssen,
You can follow this [guide](https://github.com/tellerops/teller/blob/master/doc/new-provider.md) to initialize a new provider in Teller.

If you have any follow-up questions feel free to write them here, or we can jump to a short live session if you need to

[2022-09-22 12:45] drpdishant commented on #123
Hi @lreuven I am also facing the same issue, I am aware that currently teller is built assuming the local development environments, where devs can load env from various secret managers, and even local files. I  that case once I have started teller with teller run, it will load the env into runtime, but it doesn't watch for the changes at the source. i.e If I update my local .env or, my AwS secret,

[2022-09-22 23:51] DrSensor opened #137 "azure"

[2022-09-22 23:54] DrSensor commented on #137
Sorry, I mean to search but it hit the wrong button 😞

[2022-09-22 23:54] #137 closed

[2022-10-13 08:28] kaplanelad commented on #134
Thanks @JacobJohansen. new version released with your PR: 1.5.6

[2022-10-25 09:06] #134 closed

[2022-11-06 17:07] danielr18 opened #138 "Support changing the severity of specific fields with env_sync"
## Feature Request

I would like to support changing the severity of specific fields with env_sync, in order to improve the usefulness of `teller scan`.

**Describe alternatives you've considered**
This can be currently achieved by not using env_sync, but rather env. If you only want to change the severity of a few fields, it means you still have to add all the fields you want to sync.

[2022-11-09 19:18] kevbook commented on #138
Quite unclear of what `severity` does?

[2022-11-10 13:58] vongohren opened #140 "Is it possible to define the teller version used for current projects yaml"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have yamls that are using newest feature, like from 1.5.1.
But since we have been using it for a while it might be that developers dont have updated.
How can I enforce this for certain projects?

**Describe the solution you'd like**
A tag or something inside the teller.yml file to say what version this yml fil

[2022-11-10 14:03] jondot commented on #140
Hi @vongohren -- thanks that seems reasonable
Would you be OK with Teller bailing out nicely (and recommending to update) when it finds an incompatible version?

[2022-11-10 14:35] vongohren commented on #140
@jondot yes that would be a good DX(developer experience) in my mind!

[2022-11-11 14:15] danielr18 commented on #138
It's explained here:
https://github.com/tellerops/teller#warning--scan-for-secrets

[2022-11-26 20:50] Tanmoy741127 commented on #130
Hey I am inetersred in implementing Passbolt in teller.
 @kaplanelad  Can you please assign this issue?

[2022-11-27 06:49] kaplanelad commented on #130
Sure @Tanmoy741127,
Check out [this doc](https://github.com/tellerops/teller/blob/master/doc/new-provider.md) for adding new provider doc.

Let me know if you need some help

[2022-11-27 06:51] Tanmoy741127 commented on #130
Thanks